body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
        transition: background-color 4s; /* 이 부분을 추가하세요 */
      
      
}

.wrap {
    margin: 550px;
    margin-top: 50px;


}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu1 {
    background-image: url(./img/UIJava-32.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-color: #e4a4a4;

}

.menu2 {

    background-image: url(./img/UIJava-33.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-color: #e4a4a4;

}

.title {
    width: 250px;
    background-image: url(./img/UIJava-31.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px 65px;
    background-color: #e4a4a4;
    margin: 0;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;



}

.minimenu {
    display: flex;
    margin-right: 0;
}

nav ul li {
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

nav ul li:hover {
    background-color: #be4c4c;
}

nav ul li a.active {
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
}

.nextbutton {
    display: flex;
    color: #EFEFEF;
    width: 300px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.complete {
    width: 300px;
    height: 60px;
    background-color: #33ccff;
}



.complete:hover{
    background-color: #0066ff;
}



/* 버튼 스타일 지정 */
.btn-style {
    background-color: #e4a4a4; /* 배경 색상 */
    border-radius: 50px; /* 버튼 모양 */
    border: none; /* 테두리 없애기 */
    color: white; /* 글자 색상 */
    padding: 15px 32px; /* 상하좌우 여백 */
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; /* 글자 크기 */
    margin: 40px 2px; 
    cursor: pointer; /* 마우스 커서를 손 모양으로 변경 */
  }
.droppable {

    width: 1200px;
    height: 600px;
    border-radius: 10px;
    background-image: url(./img/java_final-34.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background: linear-gradient(to bottom, #33ccff 0%, #0066ff 100%); */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: #FFF;
    font-size: 2em;
    text-align: center;
}